# Learning objectives for today
- Able to access subsets of data frame to answer questions about the data
- Can perform operations on all observations of a single feature without for loops
- Can put together multiple data frame operations to form a simple analysis

In [82]:
import pandas as pd
lakes = {'name':['Huron','Ontario','Michigan','Erie','Superior'],
        'surface':[23000, 7340,22400,9900,31700],
        'ave_depth':[195,284,279,70,480],
        'max_depth':[750,802,923,210,1333],
        'shared_canada':[True,True, False, True, True],
         'temperature':[48,51,49,54,43],
         'native_name':['Karegnondi','Oniatarí:io','Mich gami','Erielhonan','Gichi-gami']
        }

## Daily homework
write code that will add a new feature (key ) to the lakes dictionary called depth_meters storing for every lake what its average depth in meters is (one foot is 0.3 meters).
 
It probably does not need to be said, but this should be code, not manually entering the numbers.

In [4]:
depth_meters = []
# empty list

for i in lakes['ave_depth']:
    # we iterate though the different depth in dictionary lake assigning i to each depth

    depth_meters.append(i * 0.3)
    # we add the depth (i) from our initial dictionary to the list after converting it to meters

lakes['depth_meters'] = depth_meters
# we add our list to the dictionary with key 'depth_meters'

print(lakes)
# print out final results

{'name': ['Huron', 'Ontario', 'Michigan', 'Erie', 'Superior'], 'surface': [23000, 7340, 22400, 9900, 31700], 'ave_depth': [195, 284, 279, 70, 480], 'max_depth': [750, 802, 923, 210, 1333], 'shared_canada': [True, True, False, True, True], 'temperature': [48, 51, 49, 54, 43], 'native_name': ['Karegnondi', 'Oniatarí:io', 'Mich gami', 'Erielhonan', 'Gichi-gami'], 'depth_meters': [58.5, 85.2, 83.7, 21.0, 144.0]}


# 2. (continued)

Making a data frame

In [29]:
df = pd.DataFrame(lakes)
df

,name,surface,ave_depth,max_depth,shared_canada,temperature,native_name
0,Huron,23000,195,750,True,48,Karegnondi
1,Ontario,7340,284,802,True,51,Oniatarí:io
2,Michigan,22400,279,923,False,49,Mich gami
3,Erie,9900,70,210,True,54,Erielhonan
4,Superior,31700,480,1333,True,43,Gichi-gami

Two ways to set index: returning a new DF or `in place`

In [21]:
df_named = df.set_index("name")

In [50]:
df.set_index("name",inplace=True)

Review on `index` and `columns`:

In [27]:
df_named.index

Index(['Huron', 'Ontario', 'Michigan', 'Erie', 'Superior'], dtype='object', name='name')

In [26]:
df.columns

Index(['surface', 'ave_depth', 'max_depth', 'shared_canada', 'temperature',
       'native_name'],
      dtype='object')

### 2.3 `.loc[]` to access items by index and columns

In Excel we can access them using "B3", etc. 

We can access the rows and the columns of the DataFrame using the special `.loc[]` operator.

Inside, you can specify the ROW then the COLUMN.  You can remember this because **DataFrames <font color=red>R</font>o<font color=red>C</font>k!!**

In [25]:
df_named.loc['Erie', 'surface']

9900

**Exercise 2.3.1**: use `.loc` to get the maximum depth of Lake Superior.

In [30]:
df_named.loc['Superior','max_depth']

1333

**Self check**: use `.loc` to get the Native name of Lake Michigan

### 2.4 Accessing a whole row or column
You can leave off the rows or the columns in your `.loc[]` but keep the comma and it will give you back *the whole row (or column)*

This single row or column is called a `series` which are basically the one-dimensional version of a DataFrame. Any time you take a slice across one row (getting multiple columns for one lake) or a slice across a column (getting multiple rows for one feature), you get a series:

In [35]:
df_named.loc[:,'surface']

name
Huron       23000
Ontario      7340
Michigan    22400
Erie         9900
Superior    31700
Name: surface, dtype: int64

In [32]:
df_named.loc['Erie',]

surface                9900
ave_depth                70
max_depth               210
shared_canada          True
temperature              54
native_name      Erielhonan
Name: Erie, dtype: object

**Discuss**: What will happen if I try to run the cell below and why?

In [37]:
df_named.loc[:,'Erie']

KeyError: 'Erie'

You can also leave off the comma and it can work, but this can be a bit confusing

A particular specification for code is called *syntax*. The *syntax* for accessing items from a dictionary is `plant2place['Tea']`

**You can access data for one *feature* (a whole column) from a data frame using dictionary syntax**

**Discuss**: Compare the results of the commands below. How is the  code different? and how are the results different:

In [38]:
lakes['surface']

[23000, 7340, 22400, 9900, 31700]

In [39]:
df_named['surface']

name
Huron       23000
Ontario      7340
Michigan    22400
Erie         9900
Superior    31700
Name: surface, dtype: int64

### 2.5 Indexing using a list
We don't need to specify just the name of one row/column but we have many ways.  Say we are only interested in the depths info for Ontario and Michigan. We can create a list of all the rows and all the columns we are interested in:

In [41]:
rows = ['Michigan', 'Ontario']
cols = ['ave_depth', 'max_depth']

Now I will use the variables to just get these rows and columns from the DataFrame:

In [44]:
df_named.loc[rows, cols]

KeyError: "None of [Index(['Michigan', 'Ontario'], dtype='object')] are in the [index]"

**Exercise 2.5.1**: use list indexing to manually put the data frame in alphabetical order by lake name, and select only the native_name and shared_canada columns.

In [47]:
# sort the data in the data frame using lake name
# specify that u need the native name and shared canada columns
# get "what we need" from data frame

rows = ['Erie',
        'Huron',
        'Michigan',
        'Ontario',
        'Superior']

cols = ['native_name', 'shared_canada']

df_named.loc[rows, cols]

          native_name  shared_canada
name
Erie       Erielhonan           True
Huron      Karegnondi           True
Michigan    Mich gami          False
Ontario   Oniatarí:io           True
Superior   Gichi-gami           True

### 2.6 `.iloc[]` locates by row/column number
Sometimes you might want to choose your own rows and columns by number, rather than just head and tail. With `iloc` you specify row number and column numbers (zero based) 

This follows the same rules as list position indexing, but gives you 2 dimensions to pick from.

In [48]:
df_named.iloc[:2,3:5]

         shared_canada  temperature
name
Huron             True           48
Ontario           True           51

**Exercise 2.6.1**: Look at the `df_named` and verify which rows and columns you would expect this to have given you.

## 3. Vectorized operations
Where pandas gets really powerful is the ability to manipulate a bunch of numbers at once.

In [51]:
df['temperature'] / 100

name
Huron       0.48
Ontario     0.51
Michigan    0.49
Erie        0.54
Superior    0.43
Name: temperature, dtype: float64

In [52]:
df_named['ave_depth'] + 1000

name
Huron       1195
Ontario     1284
Michigan    1279
Erie        1070
Superior    1480
Name: ave_depth, dtype: int64

What is an alternative way to accomplish the same task?

Two reasons why this is better:
- less code
- much much faster with large data

**3.1 Exercise**: convert the Fahrenheit temperatures to Celsius using vector operations (celsius = 5/9 * (fahrenheight - 32))

In [58]:
5/9 * (df['temperature'] - 32)

name
Huron        8.888889
Ontario     10.555556
Michigan     9.444444
Erie        12.222222
Superior     6.111111
Name: temperature, dtype: float64

### 3.1 Vectorized math between two series
You aren't limited to a Series and a number, with 2 Series of the same size, pandas will perform the operations like you were in a for loop. So we can get for each lake, how much deeper the deepest point is than the average depth.

In [56]:
diff_depth =  df_named['max_depth'] - df_named['ave_depth']

In [57]:
diff_depth

name
Huron       555
Ontario     518
Michigan    644
Erie        140
Superior    853
dtype: int64

**3.1.1 Exercise**: use vectorized math to create a Series containing a very approximate volume for each lake

In [63]:
very_approximate_volume = df['ave_depth'] * df['surface'] * 2.788e+7
very_approximate_volume

name
Huron       1.250418e+14
Ontario     5.811753e+13
Michigan    1.742388e+14
Erie        1.932084e+13
Superior    4.242221e+14
dtype: float64

### 3.2 Vectorized string operations
The main ones are vectorized string concatenation

Just like doing `"Lake" + "Karegnondi"` would give you a string concatenating the two, this does the same thing in a vectorized fashion-- notice that what you get is of course another Series.

In [67]:
"Lake " + df['native_name'] + " is a lake"

name
Huron        Lake Karegnondi is a lake
Ontario     Lake Oniatarí:io is a lake
Michigan      Lake Mich gami is a lake
Erie         Lake Erielhonan is a lake
Superior     Lake Gichi-gami is a lake
Name: native_name, dtype: object

**Self check**: Write code to make a series that say "The native name for Erie is Erielhonan" etc for all lakes using vector operations.

### 3.4 Vectorized inequalities
Just like the other vectorized operations, we can do tests that give Boolean results for vectorized operations

In [64]:
df['temperature'] > 50

name
Huron       False
Ontario      True
Michigan    False
Erie         True
Superior    False
Name: temperature, dtype: bool

In [65]:
df

,surface,ave_depth,max_depth,shared_canada,temperature,native_name
name,,,,,,
Huron,23000,195,750,True,48,Karegnondi
Ontario,7340,284,802,True,51,Oniatarí:io
Michigan,22400,279,923,False,49,Mich gami
Erie,9900,70,210,True,54,Erielhonan
Superior,31700,480,1333,True,43,Gichi-gami

In [66]:
df['native_name'] == "Erielhonan"

name
Huron       False
Ontario     False
Michigan    False
Erie         True
Superior    False
Name: native_name, dtype: bool

Just like in 3.2, this can be between 2 Series rather than comparing each item to the same thing

In [68]:
df['ave_depth'] < df['max_depth']

name
Huron       True
Ontario     True
Michigan    True
Erie        True
Superior    True
dtype: bool

**Exercise 3.4.1**: Write one line of code  that finds out if each lake's volume is more than 1 million cubic feet

In [70]:
very_approximate_volume = df['ave_depth'] * df['surface'] * 2.788e+7
very_approximate_volume > 1.0e+6

name
Huron       True
Ontario     True
Michigan    True
Erie        True
Superior    True
dtype: bool

### 3.5 Vectorized Boolean operations.

There are different operators for Series and DataFrame Booleans versus regular ones. These will operate on the whole Series at once:
- `and` --> `&`
- `or` --> `|`
- `not` --> `~`

To flip True and False (the `not` operation) you must use the `~`:

In [69]:
~df['shared_canada']

name
Huron       False
Ontario     False
Michigan     True
Erie        False
Superior    False
Name: shared_canada, dtype: bool

To combine two inequalities you must put the inequality in parentheses like below! Common source of errors!

In [71]:
df['shared_canada'] & (df['temperature'] < 50)

name
Huron        True
Ontario     False
Michigan    False
Erie        False
Superior     True
dtype: bool

In [72]:
df['shared_canada'] | (df['temperature'] < 50)

name
Huron       True
Ontario     True
Michigan    True
Erie        True
Superior    True
dtype: bool

**Self check**: Use Boolean operations to get for all lakes a Boolean Series indicating lakes that are shared with Canada and have average depth more than 200 feet.

## 4. Dimension/shape
You can get the number of rows and columns by getting the `.shape` attribute. 

Remember it's always Row then Column because **DataFrames <font color=red>R</font>o<font color=red>C</font>k!!**

In [73]:
df.shape

(5, 6)

What do you expect the shape of a series to be? How many rows and columns do you expect in the variable `aseries` below?

In [74]:
aseries = df['shared_canada']
aseries.shape

(5,)

## 5. Assigning into your data frame

We can also assign a whole Series **into** a column, just like getting the series out of the column

In [76]:
df['diff_depth'] = df['max_depth'] - df['ave_depth']
df

,surface,ave_depth,max_depth,shared_canada,temperature,native_name,diff_depth
name,,,,,,,
Huron,23000,195,750,True,48,Karegnondi,555
Ontario,7340,284,802,True,51,Oniatarí:io,518
Michigan,22400,279,923,False,49,Mich gami,644
Erie,9900,70,210,True,54,Erielhonan,140
Superior,31700,480,1333,True,43,Gichi-gami,853

**Exercise 5.1**: Assign a new `volume` column into the data frame.

In [83]:
df['volume'] = df['ave_depth'] * df['surface'] * 2.788e+7
df

,surface,ave_depth,max_depth,shared_canada,temperature,native_name,diff_depth,volume
name,,,,,,,,
Huron,23000,195,750,True,48,Karegnondi,555,1.250418e+14
Ontario,7340,284,802,True,51,Oniatarí:io,518,5.811753e+13
Michigan,22400,279,923,False,49,Mich gami,644,1.742388e+14
Erie,9900,70,210,True,54,Erielhonan,140,1.932084e+13
Superior,31700,480,1333,True,43,Gichi-gami,853,4.242221e+14

## 6. Boolean indexing
How can we easily extract just the lakes that are shared with Canada?

This is the trickiest kind of indexing! 

Using Boolean indexing to get the rows we want involves 2 steps:

1. Get/make a Boolean series that is the same dimension as your data frame (so in our cases, same number of lakes), that has True for every row you want to extract.

2. Use this boolean series as the `rows`

In [78]:
row_selector = df['shared_canada']
print(row_selector)

name
Huron        True
Ontario      True
Michigan    False
Erie         True
Superior     True
Name: shared_canada, dtype: bool

In [79]:
df.loc[row_selector,:]

,surface,ave_depth,max_depth,shared_canada,temperature,native_name,diff_depth,volume
name,,,,,,,,
Huron,23000,195,750,True,48,Karegnondi,555,1.250418e+14
Ontario,7340,284,802,True,51,Oniatarí:io,518,5.811753e+13
Erie,9900,70,210,True,54,Erielhonan,140,1.932084e+13
Superior,31700,480,1333,True,43,Gichi-gami,853,4.242221e+14

In [81]:
df.shape

(5, 8)

**Exercise 6.1**: Get the volume of the lakes where temperature is greater than 50, and the volume of lakes where temperature is less than 50.

In [130]:
row_selector = df['volume'] > 50
name = df.loc[row_selector,'volume']
name

name
Huron       1.250418e+14
Ontario     5.811753e+13
Michigan    1.742388e+14
Erie        1.932084e+13
Superior    4.242221e+14
Name: volume, dtype: float64

**Self check**: Get the depth for lakes *not* shared with canada

## 7. Sorting
We can sort by a value which returns another DataFrame, but sorted. I used the named argument `ascending` to go from highest to lowest-- the default is `ascending=True`:

In [ ]:
df.sort_values("surface", ascending=False)

In [ ]:
df.sort_values("max_depth", ascending=True)

## 8. Reading in data

Obviously we mostly don't type in our data by hand but get it in text files.  We can use another pandas function to load directly from the file **if** the file is formatted correctly.
Note that in my case, I have the data in a subdirectory called data that is inside my *current working directory*

In [107]:
states = pd.read_csv("state_health.csv")
states

,State Name,Adverse Childhood Experiences,Air Pollution,Arthritis,Asthma,Avoided Care Due to Cost,Behaviors,Binge Drinking,Cancer,Cannabis Use,...,Total Population,Transportation Energy Use,Unemployment,Uninsured,Violent Crime,Volunteerism,Voter Participation (Average),Voter Participation (Midterm),Voter Participation (Presidential),Water Fluoridation
0,Maine,18.2,5.0,29.0,10.6,9.4,0.587,14.4,8.1,30.0,...,1350141,7.9,3.5,8.0,115,38.5,68.5,65.6,71.3,79.3
1,Massachusetts,10.8,7.0,23.8,10.7,8.3,0.680,15.8,7.0,22.9,...,6893574,7.0,4.0,3.0,328,33.6,60.9,55.5,66.3,57.3
2,Rhode Island,13.6,7.0,24.2,12.1,8.3,0.271,15.1,6.8,25.4,...,1057125,5.6,4.4,4.1,221,28.3,59.0,51.6,66.3,83.2
3,District of Columbia,17.5,8.7,16.3,10.4,7.0,NaN,22.7,5.0,28.2,...,712816,3.1,6.4,3.5,1049,40.7,72.6,61.1,84.0,100.0
4,Michigan,15.5,7.9,30.1,11.0,7.9,-0.094,17.4,7.6,27.8,...,9966555,7.8,5.1,5.8,437,34.5,63.2,59.5,66.9,89.5
5,New Hampshire,14.5,4.3,25.0,11.5,9.0,0.919,16.0,7.6,20.8,...,1366275,7.6,3.0,6.3,153,36.7,65.1,56.2,74.0,46.7
6,Vermont,18.8,4.9,25.9,10.8,7.7,1.179,17.6,7.0,12.6,...,623347,7.4,3.5,4.5,202,39.2,61.7,54.9,68.4,56.2
7,Pennsylvania,14.6,8.5,28.6,10.2,7.8,-0.149,16.8,7.9,22.1,...,12783254,7.2,4.6,5.8,306,36.8,62.4,54.6,70.2,55.7
8,Connecticut,12.1,7.3,22.4,10.6,7.6,0.733,14.3,7.4,19.2,...,3557006,6.6,5.4,5.9,184,35.3,60.3,54.0,66.6,89.5
9,Delaware,15.5,8.2,26.7,10.8,9.3,-0.177,14.3,7.4,21.6,...,986809,8.7,4.7,6.6,423,34.2,59.8,51.8,67.7,85.9
10,Hawaii,12.1,4.3,20.7,8.8,6.0,0.302,15.7,5.8,23.3,...,1407006,12.3,4.0,4.2,286,32.5,54.2,44.0,64.3,8.8
11,Minnesota,12.3,6.8,22.0,8.5,8.0,0.928,18.4,6.6,15.1,...,5657342,8.9,3.2,4.9,236,42.7,70.5,63.0,77.9,98.8
12,Alabama,16.3,7.8,33.3,9.0,13.1,-1.194,13.2,7.3,18.7,...,4921532,10.1,5.1,9.7,511,28.7,55.6,50.7,60.5,78.0
13,New York,11.1,6.3,20.9,9.5,8.8,0.228,14.7,6.2,20.2,...,19336776,6.2,4.5,5.2,359,25.0,57.1,49.5,64.7,71.5
14,Maryland,12.9,6.7,23.1,8.9,8.7,0.434,12.3,6.8,18.9,...,6055802,7.7,4.6,6.0,454,37.0,63.9,54.2,73.6,93.7
15,South Carolina,16.8,7.1,30.7,9.4,12.6,-0.752,15.7,7.5,17.4,...,5218040,9.2,4.8,10.8,511,33.1,56.1,48.7,63.4,91.9
16,South Dakota,17.9,5.1,24.7,8.1,8.3,-0.065,17.9,8.4,13.0,...,892717,11.1,3.2,10.2,399,50.7,55.2,51.9,58.5,93.7
17,Virginia,13.9,6.5,24.5,8.6,10.4,0.334,14.8,7.2,18.0,...,8590563,9.1,4.1,7.9,208,37.2,64.5,57.5,71.5,96.3
18,Florida,15.5,7.2,24.0,7.3,14.0,0.008,13.5,6.8,22.9,...,21733312,8.1,4.6,13.2,378,26.3,57.4,52.6,62.1,77.8
19,North Carolina,13.4,6.6,25.4,7.8,11.5,-0.453,14.1,6.5,20.3,...,10600823,7.9,4.7,11.3,372,33.3,58.6,52.4,64.7,87.6
20,Kentucky,16.9,7.8,32.2,11.5,9.7,-1.339,14.4,7.0,20.9,...,4477251,11.2,4.9,6.4,217,27.4,61.2,53.8,68.5,99.8
21,Tennessee,17.8,7.2,29.6,10.3,11.8,-0.554,14.1,7.5,18.1,...,6886834,9.8,4.7,10.1,595,33.0,58.0,49.6,66.4,88.8
22,Oregon,16.0,9.2,23.3,10.6,9.8,0.715,16.2,7.1,36.6,...,4241507,7.4,5.1,7.2,284,39.5,67.6,61.1,74.1,26.3
23,Utah,13.7,7.9,21.0,10.8,10.4,1.049,11.3,5.5,20.4,...,3249879,8.5,3.2,9.7,236,51.2,60.6,57.6,63.6,52.2
24,Iowa,16.1,7.5,24.4,9.1,7.3,-0.050,21.5,6.5,23.0,...,3163561,9.7,3.9,5.0,267,35.0,65.1,59.6,70.5,90.3
25,Washington,13.8,8.5,23.5,9.6,8.9,0.624,15.4,7.0,30.8,...,7693612,8.9,4.7,6.6,294,34.6,66.7,61.9,71.5,63.9
26,United States,14.8,8.3,24.5,9.6,9.8,NaN,15.7,6.8,22.3,...,329484123,8.7,4.6,9.2,379,33.4,60.1,53.4,66.8,73.0
27,Ohio,17.5,8.5,28.2,9.9,9.0,-0.615,16.3,7.2,22.5,...,11693217,7.6,4.7,6.6,293,39.0,61.3,52.5,70.1,92.5
28,Colorado,16.7,6.9,21.0,9.6,10.6,0.820,17.9,6.5,31.9,...,5807719,8.0,3.7,8.0,381,44.6,62.9,58.1,67.6,74.9
29,Louisiana,19.5,7.7,27.3,7.8,11.6,-1.374,18.6,6.5,15.8,...,4645318,13.3,5.6,8.9,549,28.2,55.9,49.8,61.9,39.0
30,Nebraska,13.4,6.2,22.8,7.8,9.3,0.399,20.4,6.6,16.0,...,1937552,10.7,3.4,8.3,301,45.9,58.0,50.8,65.2,71.6
31,North Dakota,15.2,4.8,22.6,8.6,7.4,-0.238,20.8,6.6,10.7,...,765309,17.2,2.8,6.9,285,35.4,64.5,61.9,67.1,96.5
32,Missouri,14.5,7.5,28.3,9.3,12.2,-0.599,16.8,7.2,23.2,...,6151548,9.2,3.9,10.0,495,37.3,60.9,55.0,66.8,75.6
33,New Jersey,10.2,7.7,20.9,8.7,10.5,0.606,15.2,6.0,17.7,...,8882371,8.1,4.8,7.9,207,28.5,66.2,54.0,78.3,16.2
34,Nevada,13.4,9.3,24.9,9.5,11.1,-0.532,17.2,6.1,44.1,...,3138259,8.9,5.1,11.4,494,25.8,55.1,48.7,61.5,75.0
35,Georgia,17.0,7.8,24.3,9.0,15.1,-0.435,13.9,6.1,23.2,...,10710017,8.9,4.9,13.4,341,29.2,61.0,55.9,66.1,95.2
36,Arkansas,22.5,7.2,29.5,9.1,12.9,-1.097,14.4,7.6,18.8,...,3030522,9.5,5.0,9.1,585,34.4,48.3,42.6,54.0,85.4
37,Indiana,17.4,8.7,26.9,9.6,10.4,-0.400,15.7,7.1,19.1,...,6754953,8.5,4.3,8.7,371,36.7,55.2,49.3,61.0,92.4
38,Mississippi,18.3,8.1,30.4,8.9,13.9,-1.358,13.4,6.7,15.6,...,2966786,11.5,6.8,13.0,278,26.6,62.3,54.2,70.3,60.7
39,West Virginia,20.6,7.1,38.0,12.4,11.1,-0.889,11.2,7.8,26.2,...,1784787,10.3,6.2,6.7,317,32.1,50.1,44.1,56.1,90.7
40,Alaska,18.9,6.8,21.6,8.9,10.5,-0.009,17.8,5.9,26.8,...,731158,22.3,5.8,12.2,867,38.2,58.3,52.8,63.8,49.6
41,Kansas,16.0,7.6,24.5,9.8,10.4,-0.148,17.0,6.4,18.9,...,2913805,9.8,3.9,9.2,411,35.9,61.3,56.9,65.7,65.1
42,Montana,23.0,5.5,26.2,10.6,9.0,0.398,19.7,7.2,24.7,...,1080577,10.9,4.2,8.3,405,39.5,68.7,63.8,73.5,30.7
43,Arizona,17.3,9.1,22.8,9.6,11.7,0.189,14.3,6.4,31.0,...,7421401,7.7,5.1,11.3,455,28.6,65.4,58.9,71.9,58.0
44,Illinois,11.3,9.6,24.4,8.5,10.3,-0.068,13.0,6.0,23.9,...,12587530,8.0,5.0,7.4,407,36.8,60.7,53.0,68.4,98.2
45,New Mexico,22.3,6.1,25.4,10.1,9.6,-0.204,14.2,5.4,24.3,...,2106319,11.0,5.6,10.0,832,30.4,55.4,48.1,62.6,76.7
46,Idaho,15.5,6.1,22.9,9.4,10.6,0.501,14.4,6.0,19.5,...,1826913,9.3,3.4,10.8,224,36.8,56.4,47.9,64.9,31.7
47,Wisconsin,15.1,7.2,24.8,10.2,8.3,0.468,22.8,6.8,16.2,...,5832655,7.8,3.3,5.7,293,38.7,69.1,64.6,73.6,87.3
48,Texas,15.2,8.5,20.9,7.4,15.2,0.132,16.4,4.8,17.2,...,29360759,11.5,4.4,18.4,419,29.0,56.2,48.4,63.9,72.7
49,Oklahoma,17.5,8.4,26.2,10.8,14.6,-0.930,11.6,6.8,29.1,...,3980783,11.7,4.5,14.3,432,28.4,53.9,49.4,58.3,67.5
50,Wyoming,23.4,4.2,23.1,10.0,11.1,0.044,16.4,7.3,16.9,...,582328,20.0,3.7,12.3,217,32.6,58.8,52.1,65.5,57.1
51,California,13.1,13.3,19.7,9.3,8.6,0.420,16.0,5.7,25.0,...,39368078,7.8,5.2,7.7,441,27.5,58.5,51.9,65.1,59.3

### 8.1 Exploring the data

How do I get the number of rows and columns in the  data? type below:

In [141]:
import pandas as pd
states = pd.read_csv("state_health.csv")
states.set_index('State Name', inplace=True)
# I reset my jupiter notebook this return me to the defult state (pun intended)
# I challenged myself to do it in one line

print(states.loc[(states['Smoking'] <= states.loc['Massachusetts', 'Smoking']), 'Smoking'])
# this function set large, so I'll break it down step by step
    # print(...) the print function
    # states.loc[..., 'smoking'] this calls the rows and columns (in this case its only 'smoking') we will take from the DataFrame 'states'
    # states['Smoking'] <= states.loc['Massachusetts', 'Smoking'] this grabs the rows that have less or equal smoking to Massachusetts
        # states['Smoking'] grabs the column smoking.
        # <= less than or equal to comparison.
        # states.loc['Massachusetts', 'Smoking'] grabs only the value of Smoking from Massachusetts.

State Name
Massachusetts    11.1
Maryland         10.9
Utah              8.2
New Jersey       10.8
California        8.9
Name: Smoking, dtype: float64

In [117]:
print(states.shape)

states.set_index('State Name', inplace=True)
states

(52, 99)

KeyError: "None of ['State Name'] are in the columns"

The next step after we load in some data into our notebook is to start looking at it to understand what we have. Just like with command line we have head and tail to look at our data, but now they are *functions*. It's prettier in Jupyter.

In [112]:
states.head()

,State Name,Adverse Childhood Experiences,Air Pollution,Arthritis,Asthma,Avoided Care Due to Cost,Behaviors,Binge Drinking,Cancer,Cannabis Use,...,Total Population,Transportation Energy Use,Unemployment,Uninsured,Violent Crime,Volunteerism,Voter Participation (Average),Voter Participation (Midterm),Voter Participation (Presidential),Water Fluoridation
0,Maine,18.2,5.0,29.0,10.6,9.4,0.587,14.4,8.1,30.0,...,1350141,7.9,3.5,8.0,115,38.5,68.5,65.6,71.3,79.3
1,Massachusetts,10.8,7.0,23.8,10.7,8.3,0.680,15.8,7.0,22.9,...,6893574,7.0,4.0,3.0,328,33.6,60.9,55.5,66.3,57.3
2,Rhode Island,13.6,7.0,24.2,12.1,8.3,0.271,15.1,6.8,25.4,...,1057125,5.6,4.4,4.1,221,28.3,59.0,51.6,66.3,83.2
3,District of Columbia,17.5,8.7,16.3,10.4,7.0,NaN,22.7,5.0,28.2,...,712816,3.1,6.4,3.5,1049,40.7,72.6,61.1,84.0,100.0
4,Michigan,15.5,7.9,30.1,11.0,7.9,-0.094,17.4,7.6,27.8,...,9966555,7.8,5.1,5.8,437,34.5,63.2,59.5,66.9,89.5

**Discuss**: what is this data? what are the observations and features?

**Discuss**: How can I set the row names (index) to be the state name instead of the numbers

### 8.2 Get a subset of the data for your research question

Pick a set of 5 or so columns your group is interested in.

**Exercise 8.2.1**: 
A. Get a list of all of the characteristics we have for each state.

In [115]:
states.columns

Index(['Adverse Childhood Experiences', 'Air Pollution', 'Arthritis', 'Asthma',
       'Avoided Care Due to Cost', 'Behaviors', 'Binge Drinking', 'Cancer',
       'Cannabis Use', 'Cardiovascular Diseases', 'Childhood Immunizations',
       'Chlamydia', 'Chronic Kidney Disease',
       'Chronic Obstructive Pulmonary Disease', 'Climate Change Policies',
       'Clinical Care', 'Colorectal Cancer Screening', 'Crowded Housing',
       'Dedicated Health Care Provider', 'Dental Care Providers',
       'Dental Visit', 'Dependency', 'Depression', 'Diabetes',
       'Discrimination', 'Domestic violence', 'Drinking Water Violations',
       'Drive Alone to Work', 'Drug Deaths', 'E-cigarette Use',
       'Economic Hardship Index', 'Excessive Drinking', 'Exercise',
       'Flu Vaccination', 'Food Insecurity',
       'Fourth Grade Reading Proficiency', 'Frequent Mental Distress',
       'Frequent Physical Distress', 'Fruit and Vegetable Consumption',
       'HPV Vaccination', 'Health Outcomes', 'Heavy Drinking',
       'High Blood Pressure', 'High Cholesterol', 'High Health Status',
       'High School Graduation', 'High School Graduation Racial Disparity',
       'High-risk HIV Behaviors', 'High-speed Internet', 'Homeownership',
       'Homeownership Racial Disparity', 'Housing With Lead Risk',
       'Illicit Drug Use (excluding opioids and cannabis)',
       'Illicit Opioid Use', 'Income Inequality', 'Insufficient Sleep',
       'Low Birthweight', 'Low Birthweight Racial Disparity',
       'Mental Health Providers', 'Mental illness',
       'Multiple Chronic Conditions', 'Neighborhood violence',
       'Non-medical Use of Prescription Drugs (excluding opioids and cannabis)',
       'Non-medical Use of Prescription Opioids', 'Non-smoking Regulation',
       'Obesity', 'Occupational Fatalities', 'Parent or guardian death',
       'Parent or guardian divorce or separation',
       'Parent or guardian time in jail', 'Per Capita Income',
       'Physical Environment', 'Physical Inactivity',
       'Population-Children (Under age 18)', 'Poverty', 'Premature Death',
       'Premature Death (three-year estimate)',
       'Premature Death Racial Disparity', 'Preventable Hospitalizations',
       'Primary Care Providers', 'Public Health Funding',
       'Risk-screening Environmental Indicator Score', 'Rural Population',
       'Severe Housing Problems', 'Smoking', 'Social and Economic Factors',
       'Substance misuse', 'Suicide', 'Teen Births', 'Total Population',
       'Transportation Energy Use', 'Unemployment', 'Uninsured',
       'Violent Crime', 'Volunteerism', 'Voter Participation (Average)',
       'Voter Participation (Midterm)', 'Voter Participation (Presidential)',
       'Water Fluoridation'],
      dtype='object')

B. Select out only those columns and store the smaller data frame into a new variable

In [119]:
cols = ['Mental illness', 'Per Capita Income', "Insufficient Sleep", "Exercise", "Health Outcomes"]
intrest = states.loc[:,cols]
intrest

,Mental illness,Per Capita Income,Insufficient Sleep,Exercise,Health Outcomes
State Name,,,,,
Maine,14.4,34078,30.5,20.2,0.294
Massachusetts,8.5,46241,31.1,22.2,0.819
Rhode Island,7.9,37525,32.5,24.1,0.394
District of Columbia,5.3,59808,30.1,27.2,NaN
Michigan,9.3,32892,34.2,23.3,-0.470
New Hampshire,10.5,41241,30.1,26.4,0.523
Vermont,11.4,35702,28.2,28.5,0.600
Pennsylvania,9.1,35804,35.5,21.8,-0.185
Connecticut,6.9,45359,32.1,26.1,0.663
Delaware,7.7,36858,33.2,23.8,-0.069
Hawaii,6.4,36989,39.4,24.8,0.801
Minnesota,8.5,39025,27.0,25.5,0.345
Alabama,7.6,28650,38.3,17.6,-0.857
New York,6.8,41857,32.9,24.1,0.479
Maryland,7.3,43325,33.6,24.0,0.477
South Carolina,6.5,31295,33.7,23.0,-0.673
South Dakota,9.7,31550,28.1,21.8,0.266
Virginia,7.7,40635,33.6,22.7,0.322
Florida,7.1,32887,32.9,27.0,0.170
North Carolina,8.4,32021,31.6,21.6,-0.116
Kentucky,9.2,29029,38.6,15.3,-0.813
Tennessee,7.2,31224,33.7,21.8,-0.577
Oregon,11.7,35531,28.3,24.9,0.264
Utah,14.3,31771,30.9,24.9,0.486
Iowa,11.6,33107,30.6,20.0,-0.006
Washington,11.2,41521,29.7,25.9,0.391
United States,8.5,35672,32.3,23.0,NaN
Ohio,10.2,32780,35.5,20.9,-0.351
Colorado,11.6,41053,26.8,27.4,0.337
Louisiana,8.6,28662,36.0,19.7,-1.063
Nebraska,8.5,33272,28.2,20.9,0.098
North Dakota,11.2,36611,30.1,20.1,0.108
Missouri,8.5,31756,33.0,17.1,-0.581
New Jersey,5.1,44888,32.3,21.9,0.538
Nevada,6.6,33575,35.1,20.0,-0.411
Georgia,6.7,32657,35.8,24.1,-0.266
Arkansas,9.4,27274,35.0,19.3,-0.798
Indiana,9.9,30988,34.9,21.1,-0.261
Mississippi,8.3,25301,35.0,15.7,-0.622
West Virginia,10.4,27446,39.2,17.1,-0.834
Alaska,11.7,36978,31.8,25.6,0.059
Kansas,11.5,32885,32.0,20.8,-0.142
Montana,14.1,32625,28.9,28.3,0.020
Arizona,10.7,32173,32.7,25.5,0.062
Illinois,6.3,37728,31.1,23.4,0.303
New Mexico,10.4,28423,30.5,25.7,-0.318
Idaho,12.7,29606,29.3,21.7,0.639
Wisconsin,9.5,34568,30.0,24.7,-0.098
Texas,9.5,32267,33.2,24.3,0.119
Oklahoma,8.6,29666,33.2,15.6,-0.639
Wyoming,14.6,34104,31.7,24.5,0.094
California,7.4,39393,31.2,22.6,0.365

C. What do you expect the `shape` to be? Predict then write the code to get the shape

In [122]:
intrest.shape

(52, 5)

D. Get a preview of what the first and last rows of your subsetted data looks like

In [121]:
print(intrest.head())
print(intrest.tail())

                      Mental illness  Per Capita Income  Insufficient Sleep  \
State Name
Maine                           14.4              34078                30.5
Massachusetts                    8.5              46241                31.1
Rhode Island                     7.9              37525                32.5
District of Columbia             5.3              59808                30.1
Michigan                         9.3              32892                34.2

                      Exercise  Health Outcomes
State Name
Maine                     20.2            0.294
Massachusetts             22.2            0.819
Rhode Island              24.1            0.394
District of Columbia      27.2              NaN
Michigan                  23.3           -0.470
            Mental illness  Per Capita Income  Insufficient Sleep  Exercise  \
State Name
Wisconsin              9.5              34568                30.0      24.7
Texas                  9.5              32267                33.2      24.3
Oklahoma               8.6              29666                33.2      15.6
Wyoming               14.6              34104                31.7      24.5
California             7.4              39393                31.2      22.6

            Health Outcomes
State Name
Wisconsin            -0.098
Texas                 0.119
Oklahoma             -0.639
Wyoming               0.094
California            0.365

**Exercise 8.2.2**: Which 10 states are doing the best or and which are worst on the characteristics you chose?

In [126]:
import pandas as pd
states = pd.read_csv("state_health.csv")
states.set_index('State Name', inplace=True)
cols = ['Mental illness', 'Per Capita Income', "Insufficient Sleep", "Exercise", "Health Outcomes"]
intrest = states.loc[:,cols]
for i in cols:
    display(intrest.sort_values(i, ascending=True).head(10))

,Mental illness,Per Capita Income,Insufficient Sleep,Exercise,Health Outcomes
State Name,,,,,
New Jersey,5.1,44888,32.3,21.9,0.538
District of Columbia,5.3,59808,30.1,27.2,NaN
Illinois,6.3,37728,31.1,23.4,0.303
Hawaii,6.4,36989,39.4,24.8,0.801
South Carolina,6.5,31295,33.7,23.0,-0.673
Nevada,6.6,33575,35.1,20.0,-0.411
Georgia,6.7,32657,35.8,24.1,-0.266
New York,6.8,41857,32.9,24.1,0.479
Connecticut,6.9,45359,32.1,26.1,0.663
Florida,7.1,32887,32.9,27.0,0.170

,Mental illness,Per Capita Income,Insufficient Sleep,Exercise,Health Outcomes
State Name,,,,,
Mississippi,8.3,25301,35.0,15.7,-0.622
Arkansas,9.4,27274,35.0,19.3,-0.798
West Virginia,10.4,27446,39.2,17.1,-0.834
New Mexico,10.4,28423,30.5,25.7,-0.318
Alabama,7.6,28650,38.3,17.6,-0.857
Louisiana,8.6,28662,36.0,19.7,-1.063
Kentucky,9.2,29029,38.6,15.3,-0.813
Idaho,12.7,29606,29.3,21.7,0.639
Oklahoma,8.6,29666,33.2,15.6,-0.639
Indiana,9.9,30988,34.9,21.1,-0.261

,Mental illness,Per Capita Income,Insufficient Sleep,Exercise,Health Outcomes
State Name,,,,,
Colorado,11.6,41053,26.8,27.4,0.337
Minnesota,8.5,39025,27.0,25.5,0.345
South Dakota,9.7,31550,28.1,21.8,0.266
Vermont,11.4,35702,28.2,28.5,0.600
Nebraska,8.5,33272,28.2,20.9,0.098
Oregon,11.7,35531,28.3,24.9,0.264
Montana,14.1,32625,28.9,28.3,0.020
Idaho,12.7,29606,29.3,21.7,0.639
Washington,11.2,41521,29.7,25.9,0.391
Wisconsin,9.5,34568,30.0,24.7,-0.098

,Mental illness,Per Capita Income,Insufficient Sleep,Exercise,Health Outcomes
State Name,,,,,
Kentucky,9.2,29029,38.6,15.3,-0.813
Oklahoma,8.6,29666,33.2,15.6,-0.639
Mississippi,8.3,25301,35.0,15.7,-0.622
West Virginia,10.4,27446,39.2,17.1,-0.834
Missouri,8.5,31756,33.0,17.1,-0.581
Alabama,7.6,28650,38.3,17.6,-0.857
Arkansas,9.4,27274,35.0,19.3,-0.798
Louisiana,8.6,28662,36.0,19.7,-1.063
Iowa,11.6,33107,30.6,20.0,-0.006
Nevada,6.6,33575,35.1,20.0,-0.411

,Mental illness,Per Capita Income,Insufficient Sleep,Exercise,Health Outcomes
State Name,,,,,
Louisiana,8.6,28662,36.0,19.7,-1.063
Alabama,7.6,28650,38.3,17.6,-0.857
West Virginia,10.4,27446,39.2,17.1,-0.834
Kentucky,9.2,29029,38.6,15.3,-0.813
Arkansas,9.4,27274,35.0,19.3,-0.798
South Carolina,6.5,31295,33.7,23.0,-0.673
Oklahoma,8.6,29666,33.2,15.6,-0.639
Mississippi,8.3,25301,35.0,15.7,-0.622
Missouri,8.5,31756,33.0,17.1,-0.581
Tennessee,7.2,31224,33.7,21.8,-0.577

**Exercise 8.2.3**: How is Massachusetts doing on the characteristics you chose?  (write code)

**Exercise 8.2.4**: Get the data for states that are doing better than Massachusetts on one characteristic.

In [ ]:
states.columns

**Self check**: Get the states with per-capita income greater than \$40,000. Then, write code to get which two states have the *lowest* income that is greater than $40,000

# 9. Univariate summaries
A feature can also be called a *variable*. We can summarize a single variable with *univariate summaries*

The `describe` function is useful for getting a quick overview of your data:

In [142]:
df['ave_depth'].describe()

count      5.000000
mean     261.600000
std      149.707381
min       70.000000
25%      195.000000
50%      279.000000
75%      284.000000
max      480.000000
Name: ave_depth, dtype: float64

Similarly, we can get the `max`, `mean`, and `min` on their own

In [143]:
df['ave_depth'].max()

480

In [144]:
df['ave_depth'].min()

70

Let's get practice using Boolean indexing and create some summaries of our data.

We will try to cut up the range of values of one of our features into 10 bins, and count how many states fall in each bin. For example, if we wanted to find which states the per capita income is between $40,000 and $50,000, that range of values would be a bin.

We can easily create evenly spaced bins using a function from the `numpy` package

In [145]:
states.set_index('State Name')['Per Capita Income'].sort_values()[:10]

KeyError: "None of ['State Name'] are in the columns"

In [146]:
import numpy as np
## np.linspace(low end, high end, how many bins)
np.linspace(2, 20, 10)

array([ 2.,  4.,  6.,  8., 10., 12., 14., 16., 18., 20.])

**Exercise 9.1**: Pick a feature you are interested in. Create 10 evenly spaced bins going from the lowest to the highest value of that feature.

In [151]:
feat_stat = states["Insufficient Sleep"]
bins = np.linspace(feat_stat.min(), feat_stat.max(), 10)

**Exercise 9.2**: Write *algorithm* and then *code* that will store for every bin, the number of states that fall in that bin. **Write your algorithm first**.  Pieces to think about: how will we store the counts? For every bin, how do we get the number of states in that particular bin? How do we repeat this for all bins? **Algorithm first!!**

In [154]:
import numpy as np
feat_stat = states["Insufficient Sleep"]
bins = np.linspace(feat_stat.min(), feat_stat.max(), 10)
d = {}
for i,b in enumerate(bins):
    print(i,b)
    if i < len(bins-1):

0 26.8
1 28.2
2 29.6
3 31.0
4 32.4
5 33.8
6 35.2
7 36.599999999999994
8 38.0
9 39.4

# 10. Intro to plotting

One useful summary is the **histogram** which allows us to visualize the **distribution** of our data. The distribution is which means how many times (how frequently) your *observations* have certain values. This can provide some insight! 

![img](https://preview.redd.it/oruqlgczepp91.png?width=960&crop=smart&auto=webp&s=e583fbd71ccc3e9028a3a21fe20daeabfaf85129 "heights")

Plots have 4 fundamental properties that vary:
- x-axis (horizontal space)
- y-axis (vertical space)
- markers / shapes
- colors

Each of these mean something for representing our data. Every time you look at a plot you should ask yourself:
- what does the x-axis mean
- what does the y-axis mean
- what do markers or shapes mean
- what do colors mean

**Discuss**: Look at the histogram above. Note 1) what the *axes* are, 2) what the *bars* mean, and 3) what *observations* and *features* are in this plot.

We can use the `seaborn` package for making plots. Today we will learn about using this to make plots of single features.

First we use `import` to load the package, then we set it up...

In [ ]:

import seaborn as sns
sns.set_theme()  ## the default theme with a grid

Seaborn always operates on a data frame. 

Depending on what seaborn function you use, it will make a different kind of plot. Right now we'll just use `displot` short for **distribution plot** which is the same thing as a histogram:

In [ ]:
sns.displot(data=df, x="surface")

**Exercise 10.1**: Make a histogram (or distribution plot) of your chosen feature from exercise 9.2. Compare the values to what you got in exercise 9.2