## Learning objectives
- Manipulate whole data frames by flipping them around, putting them together into one data frame
- Summarize lots of data with vectorized data frame operations to get statistics on multiple features at once
- Compare two features two each other (bivariate summaries and visualizations)

In [2]:
pwd

'/Users/gcrowell/Library/CloudStorage/OneDrive-Personal/Desktop/School Shit/Fall 2022/ds4bio/Jupyter_Notebook'

In [3]:
import pandas as pd
geno = pd.read_table("arabidopsis_birds/arabmagic/arabmagic_geno.csv", sep=",",skiprows=3,index_col=0)
pmap = pd.read_table("arabidopsis_birds/arabmagic/arabmagic_pmap_tair9.csv", sep=",",skiprows=3,index_col=0)
pheno = pd.read_table("arabidopsis_birds/arabmagic/arabmagic_pheno.csv", sep=",",skiprows=3,index_col=0)


counts = pd.read_table("arabidopsis_birds/eco_data/species_counts.txt")
sites = pd.read_table("arabidopsis_birds/eco_data/eco_sites.txt")

states = pd.read_csv("state_health.csv")
states_named = states.set_index('State Name')

## Daily homework
using the sites data, make histogram of how common each bird species is across all 38 sites.

HINT: if you make a dictionary  `bird` where the keys are species name and the value is the number of times that species is seen you can turn that into a data frame like this

    bird_df = pd.DataFrame(bird,index=['number sightings'])
    bird_df = bird_df.transpose()

The first line above will convert the dictionary to a data frame with index being 1 row, containing number of sightings. The second line above uses the transpose function to turn the data frame on its side so the features are in the columns and observations (bird species, here) are in the rows (By the way, this explanation of the code is a good explanation of what code does)

## 1. Manipulating data frames

### 1.1 Concatenate DataFrames `concat`
For multiple DataFrames of the same size on one dimension we can use the `pd.concat()` to mush them together into 1 DataFrame. 

The index and columns must match.

You don't always want to put all your data together like this, but sometimes it's useful. 

The input must be a  
1. `list` or other data structure containing multiple data and 
2. (recommended) do you want to do horizontal concatenation (add more columns to the same rows) axis = 0 or vertical (axis =1) (default is axis=0)
### OTHER WAY AROUND
As always, I recommend Googling the documentation!

**Exercise 1.1.1**: Concatenate the "sites" and "counts" data frames together. Which way did it append? Horizontally or vertically?

*Note*: I don't recommend keeping them together in this case-- it can be a  bit uncomfortable for beginners but I recommend keeping your data in different data frames if it makes more sense.

In [4]:
pd.concat((sites, counts), axis=1)

,Elevation,North,East,WorE,Macropygia_unchall,Streptopelia_chinensis,Streptopelia_senegalensis,Columba_pulchricollis,Streptopelia_orientalis,Chalcophaps_indica,...,Psarisomus_dalhousiae,Pitta_brachyura,Megalaima_australis,Caprimulgus_macrurus,Picus_xanthopygaeus,Cettia_pallidipes,Nyctyornis_athertoni,Pericrocotus_roseus,Psittacula_cyanocephala,Abroscopus_albogularis
A2,198.250000,26.978983,92.921975,E,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A3,734.250000,27.006267,92.404575,E,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A4,1243.250000,27.027496,92.410408,E,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
A6,2629.000000,27.147733,92.459379,E,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A7,2340.250000,27.091979,92.408567,E,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
A8,300.000000,26.961380,93.012160,E,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
B1,1932.250000,27.061125,88.770667,E,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
B2,164.250000,26.629383,89.582958,E,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
B3,153.500000,26.631250,89.583242,E,0,0,0,0,0,2,...,0,0,4,0,0,0,0,0,0,0
B4,209.750000,26.896422,88.855932,E,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
B5,1970.250000,27.063185,88.770390,E,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
D1,4024.250000,27.469675,88.164671,E,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
D3,4094.250000,27.477342,88.162617,E,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
G1,3151.500000,27.445467,88.175292,E,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
J1,480.500000,32.755154,74.866821,W,0,6,6,0,0,0,...,0,0,0,0,0,0,0,0,0,0
J2,1875.000000,33.071079,75.330475,W,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
J4,1560.750000,33.100090,75.128870,W,0,2,0,0,4,0,...,0,0,0,0,0,0,0,0,0,0
J5,989.250000,32.979732,75.121480,W,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
J6,560.250000,32.765853,74.870395,W,0,4,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
K1,3249.750000,33.978404,75.249475,W,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
K2,2808.500000,33.975725,75.241388,W,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
K4,3620.250000,33.986721,75.252242,W,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
K5,1735.000000,34.145620,74.919022,W,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
K6,2288.250000,33.950585,75.251605,W,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
L1,3387.500000,32.500533,76.981704,W,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
M1,2982.666667,32.241646,77.131033,W,0,0,0,0,4,0,...,0,0,0,0,0,0,0,0,0,0
M2,3285.000000,32.236058,77.127212,W,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
M3,2439.750000,32.246729,77.161158,W,0,0,0,0,4,0,...,0,0,0,0,0,0,0,0,0,0
M4,3730.000000,32.227554,77.132417,W,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
N1,3025.750000,27.770192,88.521233,E,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
N2,3952.250000,27.894908,88.528113,E,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
N3,3362.333333,27.822279,88.552604,E,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
S1,2358.750000,27.416375,88.197942,E,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U3,495.750000,30.163412,77.914738,W,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
U4,1248.000000,31.014554,78.047737,W,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
MA,1290.000000,25.441827,90.437366,E,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,2
U1,435.000000,29.721111,78.586389,W,0,0,0,0,0,0,...,0,0,0,2,0,4,2,6,2,0
U2,866.500000,29.791528,78.626111,W,0,2,0,0,0,0,...,0,0,0,2,2,2,0,8,4,0

**Exercise 1.1.2**: For each of the following, predict what you will get as an output if you run the following code: what will be the shape of the resulting data frame? What is the index and columns? What do you think would be a desireable result to get? Does the result make sense?

First, we will take a subset of the states data

In [5]:
df1 = states_named.loc[:,['Poverty','Cancer']].head(10)
#first ten states for poverity and cancer
df2 = states_named.loc[:,['Exercise','Drive Alone to Work']].iloc[20:30,:]
# states 20-30
df3 = states_named.loc[:,['Exercise','Drive Alone to Work']].iloc[40:50,:]

*A*. Predict (shape, columns, index), then run it

In [6]:
pd.concat((df1, df2))

                      Poverty  Cancer  Exercise  Drive Alone to Work
State Name
Maine                    10.9     8.1       NaN                  NaN
Massachusetts            10.3     7.0       NaN                  NaN
Rhode Island             11.9     6.8       NaN                  NaN
District of Columbia     12.6     5.0       NaN                  NaN
Michigan                 12.6     7.6       NaN                  NaN
New Hampshire             8.1     7.6       NaN                  NaN
Vermont                  10.8     7.0       NaN                  NaN
Pennsylvania             11.9     7.9       NaN                  NaN
Connecticut              10.4     7.4       NaN                  NaN
Delaware                 11.1     7.4       NaN                  NaN
Kentucky                  NaN     NaN      15.3                 82.0
Tennessee                 NaN     NaN      21.8                 82.0
Oregon                    NaN     NaN      24.9                 71.5
Utah                      NaN     NaN      24.9                 76.1
Iowa                      NaN     NaN      20.0                 80.2
Washington                NaN     NaN      25.9                 70.9
United States             NaN     NaN      23.0                 75.9
Ohio                      NaN     NaN      20.9                 82.4
Colorado                  NaN     NaN      27.4                 74.2
Louisiana                 NaN     NaN      19.7                 82.1

*B*. Predict (shape, columns, index), then run it

In [7]:
pd.concat((df3, df2),axis=1)

               Exercise  Drive Alone to Work  Exercise  Drive Alone to Work
State Name
Alaska             25.6                 70.0       NaN                  NaN
Kansas             20.8                 82.7       NaN                  NaN
Montana            28.3                 76.2       NaN                  NaN
Arizona            25.5                 75.6       NaN                  NaN
Illinois           23.4                 72.4       NaN                  NaN
New Mexico         25.7                 80.7       NaN                  NaN
Idaho              21.7                 78.3       NaN                  NaN
Wisconsin          24.7                 80.8       NaN                  NaN
Texas              24.3                 80.1       NaN                  NaN
Oklahoma           15.6                 82.7       NaN                  NaN
Kentucky            NaN                  NaN      15.3                 82.0
Tennessee           NaN                  NaN      21.8                 82.0
Oregon              NaN                  NaN      24.9                 71.5
Utah                NaN                  NaN      24.9                 76.1
Iowa                NaN                  NaN      20.0                 80.2
Washington          NaN                  NaN      25.9                 70.9
United States       NaN                  NaN      23.0                 75.9
Ohio                NaN                  NaN      20.9                 82.4
Colorado            NaN                  NaN      27.4                 74.2
Louisiana           NaN                  NaN      19.7                 82.1

*C*. Predict (shape, columns, index), then run it

In [8]:
pd.concat((df3, df2),axis=0)

               Exercise  Drive Alone to Work
State Name
Alaska             25.6                 70.0
Kansas             20.8                 82.7
Montana            28.3                 76.2
Arizona            25.5                 75.6
Illinois           23.4                 72.4
New Mexico         25.7                 80.7
Idaho              21.7                 78.3
Wisconsin          24.7                 80.8
Texas              24.3                 80.1
Oklahoma           15.6                 82.7
Kentucky           15.3                 82.0
Tennessee          21.8                 82.0
Oregon             24.9                 71.5
Utah               24.9                 76.1
Iowa               20.0                 80.2
Washington         25.9                 70.9
United States      23.0                 75.9
Ohio               20.9                 82.4
Colorado           27.4                 74.2
Louisiana          19.7                 82.1

*D*. Predict (shape, columns, index) then run it:

In [9]:
pd.concat((df2, df3),axis=0)

               Exercise  Drive Alone to Work
State Name
Kentucky           15.3                 82.0
Tennessee          21.8                 82.0
Oregon             24.9                 71.5
Utah               24.9                 76.1
Iowa               20.0                 80.2
Washington         25.9                 70.9
United States      23.0                 75.9
Ohio               20.9                 82.4
Colorado           27.4                 74.2
Louisiana          19.7                 82.1
Alaska             25.6                 70.0
Kansas             20.8                 82.7
Montana            28.3                 76.2
Arizona            25.5                 75.6
Illinois           23.4                 72.4
New Mexico         25.7                 80.7
Idaho              21.7                 78.3
Wisconsin          24.7                 80.8
Texas              24.3                 80.1
Oklahoma           15.6                 82.7

**Self-check**: Get the 15 top and 10 bottom poverty states. Then concatenate these together into one data frame. Which way should it concatenate?

**Self-check**: Use the eco_data from Oct 14. Concatenate the bird counts and site info and then sort by count of Streptopelia_chinensis to find what the average elevation is for the 5 places with the most of that bird.

### 1.2 `transpose()` 
Flips the rows and the columns:

In [10]:
states.head().transpose()

,0,1,2,3,4
State Name,Maine,Massachusetts,Rhode Island,District of Columbia,Michigan
Adverse Childhood Experiences,18.2,10.8,13.6,17.5,15.5
Air Pollution,5.0,7.0,7.0,8.7,7.9
Arthritis,29.0,23.8,24.2,16.3,30.1
Asthma,10.6,10.7,12.1,10.4,11.0
...,...,...,...,...,...
Volunteerism,38.5,33.6,28.3,40.7,34.5
Voter Participation (Average),68.5,60.9,59.0,72.6,63.2
Voter Participation (Midterm),65.6,55.5,51.6,61.1,59.5
Voter Participation (Presidential),71.3,66.3,66.3,84.0,66.9
Water Fluoridation,79.3,57.3,83.2,100.0,89.5

**Exercise 1.2.1**: Predict what will be the shape of the `sites` data frame after we run transpose. Then, get the actual shape and compare.

In [11]:
print(sites.shape)
print(sites.transpose().shape)

(38, 4)
(4, 38)

## 2. Doing research with genotype-phenotype data
As a group, discuss:
1. How many plants do we have information on?
2. what information do we have on each plant
3. think of one research question could we ask with the Arabidopsis MAGIC data. Pick one person to take notes. We will share with the class after 5 minutes discussion.

## 3. Cleaning your data
As a group figure out what steps you could take to make the Arabidopsis data all have same observations in the same rows and features in the columns (note that  the pmap is not observations in this case but metadata). Keep them in separate data frames!

In [12]:
geno_T = geno.transpose()
indexer = geno_T.index.isin(pheno.index)
geno_T.loc[indexer, :]

marker,MN1_29291,MN1_29716,MN1_112907,MASC03771,MN1_197787,MN1_340810,MN1_395107,MN1_444820,MN1_494205,MN1_592863,...,MN5_26029439,MN5_26121184,MN5_26220737,MN5_26379737,MN5_26380009,MN5_26437895,MN5_26438023,MN5_26708459,MN5_26877341,MN5_26877463
MAGIC.1,A,A,A,A,A,A,A,A,A,A,...,A,A,B,A,B,A,A,A,A,A
MAGIC.10,A,A,A,B,B,B,A,A,A,B,...,A,A,A,A,A,A,A,A,A,A
MAGIC.100,A,A,A,A,A,A,A,NaN,A,A,...,A,A,B,B,A,B,B,B,A,A
MAGIC.101,B,B,B,A,B,A,A,A,A,A,...,B,A,B,B,A,B,B,A,A,A
MAGIC.102,B,B,B,B,B,A,B,A,A,A,...,B,B,B,B,A,B,B,A,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MAGIC.699,B,B,B,A,A,A,A,A,A,A,...,A,B,B,B,A,B,B,A,A,A
MAGIC.700,B,B,B,A,A,A,A,A,A,A,...,A,B,B,B,A,B,B,A,B,B
MAGIC.701,B,B,B,A,B,A,A,A,A,A,...,B,A,A,A,B,A,A,A,A,A
MAGIC.702,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,B,B
MAGIC.703,A,A,B,B,A,A,A,B,B,A,...,A,B,B,A,B,A,A,A,B,B

## 4. Vectorized operations across multiple rows/columns
We previously learned about vectorized operations on a Series. 
We can do the same thing across all rows/column in a DataFrame.

In [13]:
pheno.sum()

bolting_days        15876.52
seed_weight         14998.86
seed_area             501.48
ttl_seedspfruit     35521.49
branches             3893.63
height              21479.24
pc_seeds_aborted      616.93
fruit_length        10070.50
dtype: float64

In [14]:
pheno.mean()

bolting_days        23.451285
seed_weight         22.154889
seed_area            0.741834
ttl_seedspfruit     52.468966
branches             5.811388
height              41.788405
pc_seeds_aborted     0.911270
fruit_length        14.941395
dtype: float64

By default, it operates on each column. We can make it operate on the rows using the `axis` argument. In pandas axis 0 is rows and axis 1 is columns. So axis=1 means we are summing *across columns*. What do these numbers represent?

In [15]:
pheno.mean(axis=1)

id
MAGIC.1      14.811429
MAGIC.2      19.448750
MAGIC.3      21.285000
MAGIC.4      16.954286
MAGIC.5      17.988750
               ...
MAGIC.699    19.878750
MAGIC.700    21.601429
MAGIC.701    20.128750
MAGIC.702    25.622500
MAGIC.703    21.250000
Length: 677, dtype: float64

**Self-check**: Using the eco_sites data, get the maximum values for the features of the sites (location, elevation), across all sites.

**Exercise 4.1**: Use vectorized DataFrame operations to calculate the difference in mean value of all phenotypes between plants with MN1_444820 is A and those where it is not A. **Write down an algorithm first**

In [16]:
fs = pd.concat((geno[pheno.transpose().columns].transpose(), pheno))

**Exercise 4.2**: Instead of just MN1_444820, calculate the difference in mean for **all** genotypes. Save the result into a new DataFrame where the rows are markers and the columns are phenotypes.  **Write down an algorithm first**

In [17]:
geno_t = geno[pheno.transpose().columns].transpose()
A_true = geno_t.loc[:,'MN1_444820'] == 'A'
print(A_true)

MAGIC.1       True
MAGIC.2      False
MAGIC.3       True
MAGIC.4       True
MAGIC.5      False
             ...
MAGIC.699     True
MAGIC.700     True
MAGIC.701     True
MAGIC.702     True
MAGIC.703    False
Name: MN1_444820, Length: 677, dtype: bool

In [18]:
gwas[:5]

NameError: name 'gwas' is not defined

**Exercise 4.3**: Discuss as a group. What is the meaning of the values in the DataFrame created in 4.2? How could you find some kind of interesting result from this DataFrame?

### 4.1 Combining data frames for certain analyses

**Exercise 4.1.1**: Let's put together our GWAS results with the pmap info into one data frame, with markers in the rows and GWAS results + chromosome + position in the columns. Call this data frame `gwas_plus_pmap`. If you're not sure how to do it, Google for the pandas documentation (make suer to check the version to make sure.

In [ ]:
pd.__version__

**Exercise 4.1.2**: Find the chromosome for the 5 top markers where genotype A increases fruit_length.

In [ ]:
top_markers = gwas_plus_pmap.sort_values('fruit_length',ascending=False).head()
set(top_markers['chr'])

**Exercise 4.1.3**: make a data frame called `fruit_length_geno` containing the genotypes for top 5 markers for association with fruit_length, concatenated with the phenotype data.

In [ ]:
geno.head()

# 5. Plots of two or more features

Bivariate plots allow us to compare two or more features for each data point.

The most intuitive is a scatter plot which we can make with `relplot` 

Remember, seaborn takes as input a data frame, and will plot entries from its **columns**:

In [ ]:

import seaborn as sns
sns.set_theme()  ## the default theme with a grid

In [ ]:
pheno.head()

In [ ]:
sns.relplot(
    data=pheno,
    x="seed_weight", 
    y="seed_area"
)

**Exercise 5.1**: What are the axes? What are the points on this plot?

**Exercise 5.2**: What is your interpretation of this plot? Is this how you expect the plot to look?

We can use "hue" and "size" to add more dimensions to our 2-D plots using color or point size. Just like with plot we specify our x and y axis, but then we can specify the color of each point:

In [ ]:
sns.relplot(
    data=pheno,
    x="seed_weight", 
    y="seed_area",
    hue = "bolting_days"
)

**Exercise 5.3**: what do you see when you add the bolting days dimension?

In [ ]:
sns.relplot(
    data=pheno,
    x="seed_weight", y="seed_area",
    hue = "bolting_days",
    size = "ttl_seedspfruit"
)

**Exercise 5.4**: How many observations and features are there in this plot?

### 5.1 Bivariate plots with a number and a binary/categorical feature

Going back to our Arabidopsis, we are interested in the effect of genotype on phenotype. We created the data frame `fruit_length_geno`. 


What are the features in this subset of the data?

In [ ]:
fruit_length_geno

Instead of just looking at fruit length by itself, we can compare fruit lengths of different subsets by using the `col` option to make two columns in your plot, separated by value of marker MASC06116. So instead of the regular bins for different values of fruit length, we have bins of BOTH fruit length and MASC06116:

In [ ]:
sns.displot(data=fruit_length_geno, 
            x="fruit_length", col='MASC06116')

**Exercise 5.1.1**: What do you see? What are the axes? What are the different plots? What are the bars? What is the interpretation?

It's hard to see what's the same or different because way more plants have A genotype than B genotype. We can try to convert from total numbers to fractions

In [ ]:
sns.displot(data=fruit_length_geno, 
            x="fruit_length", 
            col='MASC06116',
            stat='density')

**Exercise 5.1.2**: What changed?

Still, it would be nice if they were on the same scale as fractions.

In [ ]:
sns.displot(data=fruit_length_geno, 
            x="fruit_length", 
            col='MASC06116',
            stat='density',
            common_norm=False)

**Exercise 5.1.3**: what do you think `common_norm` does?

We can also put them on the same axis with different colors by changinge `col` to `hue`. This still keeps them in separate bins but just on the same plot:

In [ ]:
sns.displot(data=fruit_length_geno, x="fruit_length", hue='MASC06116',stat='density',common_norm=False, kde=True)

We can add a smoothed line onto this displot (or any displot) with `kde=True`

In [ ]:
sns.displot(data=fruit_length_geno, x="fruit_length", hue='MASC06116',stat='density',common_norm=False, kde=True)

## 5.2 Scatter plots of multiple panels & back to our GWAS
Now that it's together in one dataframe. 

Remember seabon can plot different columns in a dataframe. We can use seaborn to plot our GWAS results by genomic position using our combined data frame:

In [ ]:
gwas_plus_pmap

In [ ]:
sns.relplot(
    data=gwas_plus_pmap,
    x="pos", y="fruit_length",
    col = "chr"
)

**Exercise 6.1**: As a group, answer these questions, discuss for 5 minutes
- What are the various subplots?
- What are the axes?
- What are the points?
- Which chromosome is the biggest and smallest?
- What can we conclude from this data about the association of genotype with the phenotype?

## Exercise 5
We will get practice with **vectorized string operations** to find the strings in a series that match some criterion, and use this to do some analysis of the birds data. This includes `startswith`, `endswith`, and `contains`.

To use these you have to access the string functions of a series, using `.str` as follows.

In [ ]:

tenstates = states['State Name'].head(10)
tenstates

In [ ]:
tenstates.str.startswith("M")

In [ ]:
tenstates.str.endswith("re")

In [ ]:
tenstates.str.contains("nn")

**Exercise 5.1**: Make a series containing info for every site about *whether or not* it has any of the Megalaima (any bird species with Megalaima in its name).

**Exercise 5.2**: Make a data frame `sites_mega` that contains the information about the site and *whether or not* the site contains Megalaima. You can convert a series to a data frame by using the function `pd.DataFrame(series_variable)`

Of course you could always assign the series back into the data frame but I want you to get some practice with `concat`:

In [ ]:
sites['has_mega'] = mega_df.sum(axis=1) > 0


**Exercise 5.2**: Use the data frame you made above to make one plot for each feature comparing sites that do or don't have megalaima.

In [ ]:
sns.catplot(x="MASC06116", y="fruit_length", data=sites)


**Exercise 5.3**: Get the mean elevation for sites that have megalaima and sites that don't

In [ ]:
sns.catplot(x="MASC06116", y="fruit_length", data=sites)

# Extra material on `apply` -- you don't need this for this class
While those built-in functions like `mean`, etc, will take you a long way toward summarizing your data frame, we have a lot of flexibility with `apply`. 

This is a DataFrame function that can take any function that is applied to one row or column (series) and apply that across all of them.

you use it by: 
` df.apply( func_name, axis = axis number, [any other inputs to the function named func_name]) `

In [ ]:
b = pheno.apply(np.percentile,  ## using the np.percentile function
                axis=0,  ## across rows
                q=[10, 25,50,75,90] ### also inputting the percentiles we want
               )

In [ ]:
b

Compare this with our `perc_seeds` variable above.

**Self-check**: Use apply with np.max on the pheno dataframe to get the maximum value of each phenotype. Verify that the result is the same as if you used regular vectorized operations.

In [ ]:
b = pheno.apply(np.max,  ## using the np.percentile function
                axis=0
               )
b

In [ ]:
pheno.max()

## Extra.1 `lambdas`
This below is one way to get the difference in phenotypes among plants at each genotype. This is what we did yesterday:

In [ ]:
gwas.head()

**Self-check**: Go through the code above and add comments explaining what it is doing. Verify that your comments are correct by copying bits of the code into a code cell and running it and inspecting the resulting values (for example, start by assigning `i="MN1_29291"` and run the code inside of the for loop)

We always want to avoid `for` loops if we can though! We will try to use `apply` instead, but we need something that can be applied just like `np.percentile` was.
Lambdas are functions that don't have a name and are usually one line long. Instead of using `def` we use `lambda`.

Here is a `lambda` that will take as input one genotype vector/Series, `x`. It splits the `pheno` DataFrame into those plants with genotype A and those plants without it:

In [ ]:
lambda x: pheno.loc[x=='A',:].mean() - pheno.loc[x!='A',:].mean()

We can store a lambda in a variable.

In [ ]:
diff_phe = lambda x: pheno.loc[x=='A',:].mean() - pheno.loc[x!='A',:].mean()

In [ ]:
diff_phe

And then use it to `apply` across each **marker**: so logically, for each marker, we are separating the plants by their genotype at that marker, and looking at the difference in mean phenotypes

In [ ]:
gwas =  geno.apply(diff_phe,
                   axis=1)

Or, you can put it all on one line:

In [ ]:
gwas =  geno.apply(lambda x: pheno.loc[x=='A',:].mean() - pheno.loc[x!='A',:].mean(),
                   axis=1)

## Extra.2 Matplotlib
Matplotlib has more flexibility than seaborn. Seaborn is nice for certain built-in things, but matplotlib you can make any plot. Here are some examples.

In [ ]:
import matplotlib.pyplot as plt

## the line below allows us to see our plots inside jupyter
%matplotlib inline

In [ ]:
x = pheno['seed_weight']
y = pheno['seed_area']
plt.plot(x, y,'.')

**Self-check**: Add comments to the code above. Copy the same code and try changing what is plotted to plot two different phenotypes.

We can make multiple plots using `subplots` function which gives you back a `figure` and `axis` object.

We can additionally use the `axis` object to set the x and y label of the axes:

In [ ]:
x = pheno['seed_weight']
y = pheno['seed_area']

figure ,axis = plt.subplots(1)
axis.plot(x, y,'.')
axis.set_xlabel('seed_weight')
axis.set_ylabel('seed_area')

We can create a grid of subplots using the `subplots` function specifying the number of rows and columns (here 2 rows). The `subplots` function returns both the figure and a `list` of axes. We use the first item in the list (the first axis) to make the first plot, and the 2nd one to make the 2nd plot:

In [ ]:


figure ,axis = plt.subplots(2)

axis[0].plot(pheno['seed_weight'], pheno['seed_area'],'.')
axis[0].set_xlabel('seed_weight')
axis[0].set_ylabel('seed_area')


axis[1].plot(pheno['bolting_days'], pheno['branches'],'.')
axis[1].set_xlabel('bolting_days')
axis[1].set_ylabel('branches')

Here I make 2 rows and 3 columns:

In [ ]:
figure ,axis = plt.subplots(2,3, figsize=(12,6))

first_row = axis[0]
first_row[0].plot(pheno['seed_weight'], pheno['seed_area'],'.')
first_row[0].set_xlabel('seed_weight')
first_row[0].set_ylabel('seed_area')

second_row = axis[1]
second_row[1].plot(pheno['bolting_days'], pheno['branches'],'.')
second_row[1].set_xlabel('bolting_days')
second_row[1].set_ylabel('branches')

**Self-check**: add more comparisons of the phenotypes to the plot above. Take a screenshot and paste the resulting plot into Teams so everyone can see your plot.

**Self-check**: Make your own subplots where you plot for each of the five arabidopsis chromosomes, the marker position versus the association with the *fruit_length* phenotype.

## Extra.2.1 `scatter` function
The matplotlib scatter allows us to add a 3rd dimension to our 2-D plots using color or point size. Just like with `plot` we specify our x and y axis, but then we can specify the color of each point:

In [ ]:
plt.scatter(pheno['seed_weight'],
            pheno['seed_area'],
            c = pheno['bolting_days'])

This is the same thing, using the figure and axes.  We can also use the figure object to add a colorbar for the legend:

In [ ]:
f, ax = plt.subplots(1)
scatter_res = ax.scatter(pheno['seed_weight'],
            pheno['seed_area'],
            c = pheno['bolting_days'])
f.colorbar(scatter_res)