In [19]:
import pandas as pd
geno = pd.read_table("arabidopsis_birds/arabmagic/arabmagic_geno.csv", sep=",",skiprows=3,index_col=0)
pmap = pd.read_table("arabidopsis_birds/arabmagic/arabmagic_pmap_tair9.csv", sep=",",skiprows=3,index_col=0)
pheno = pd.read_table("arabidopsis_birds/arabmagic/arabmagic_pheno.csv", sep=",",skiprows=3,index_col=0)
# Importing and setting up our initial dataframes

### Part A
Make a data frame where the rows are the markers and you have 4 columns: chromosome (`chr`), position (`pos`), and the genotype data for plants `MAGIC.2` and `MAGIC.20`

In [22]:
geno_map = pd.concat((geno.loc[:,('MAGIC.2', 'MAGIC.20')], pmap), axis=1)
# building a dataframe from two others via concat
    # the first dataframe we are using is geno and from that we are taking all the columns pertaining to  `MAGIC.2` and `MAGIC.20`
    # the second dataframe is pmap which we are taking all the data from
    # we use `axis=1` because we are joining these two along the columns
    # this should spit out 1251 rows (Markers) and 4 columns (chr, pos, MAGIC.2, and MAGIC.20)
geno_map
# printing the dataframe

             MAGIC.2 MAGIC.20  chr        pos
marker
MN1_29291          A        A    1   0.029291
MN1_29716          A        A    1   0.029757
MN1_112907         B        B    1   0.112907
MASC03771          B        A    1   0.174605
MN1_197787         A        B    1   0.197787
...              ...      ...  ...        ...
MN5_26437895       A        A    5  26.420670
MN5_26438023       A        A    5  26.420798
MN5_26708459       B        A    5  26.691233
MN5_26877341       A        B    5  26.860115
MN5_26877463       A        B    5  26.860237

[1251 rows x 4 columns]

### Part B
Make a data frame containing all the geno* data and Marker info for markers `MASC06116` and `MN1_29291`.

In [23]:
geno_map2 = pd.concat((geno.loc[('MASC06116', 'MN1_29291'), :], pmap.loc[('MASC06116', 'MN1_29291'), :]), axis=1)
# building a dataframe from two others via concat
    # the first data frame we are using is geno from that we are using only the rows pertaining to `MASC06116` and `MN1_29291`
    # the second dataframe we are using is pmap and we are also just using the `MASC06116` and `MN1_29291` rows
    # similarly to the above DF we are using `axis=1` so we join our two initial DF by their columns
    # this should spit out only 2 rows (`MASC06116` and `MN1_29291`) and 705 columns (MAGIC.*, chr, and pos)
geno_map2
# printing the dataframe

,MAGIC.1,MAGIC.10,MAGIC.100,MAGIC.101,MAGIC.102,MAGIC.103,MAGIC.104,MAGIC.105,MAGIC.106,MAGIC.107,...,MAGIC.696,MAGIC.697,MAGIC.698,MAGIC.699,MAGIC.700,MAGIC.701,MAGIC.702,MAGIC.703,chr,pos
marker,,,,,,,,,,,,,,,,,,,,,
MASC06116,A,A,A,A,A,A,A,B,A,A,...,A,A,A,A,A,A,A,A,2,11.324386
MN1_29291,A,A,A,B,B,A,A,B,A,A,...,B,A,B,B,B,B,A,A,1,0.029291

In [29]:
pheno_map = pd.concat((pheno, geno.transpose().loc[:,('MASC06116', 'MN1_29291')]),  axis=1)
# building a dataframe from two others via concat
    # the first dataframe we are using is pheno, which we wil take everything from
    # the second DF we are using is geno which we will need to transpose so both are delineated by plants
pheno_map

,bolting_days,seed_weight,seed_area,ttl_seedspfruit,branches,height,pc_seeds_aborted,fruit_length,MASC06116,MN1_29291
MAGIC.1,15.33,17.15,0.64,45.11,10.50,NaN,0.00,14.95,A,A
MAGIC.2,22.00,22.71,0.75,49.11,4.33,42.33,1.09,13.27,A,A
MAGIC.3,23.00,21.03,0.68,57.00,4.67,50.00,0.00,13.90,A,A
MAGIC.4,18.67,22.45,0.74,54.33,6.33,NaN,0.23,15.93,A,A
MAGIC.5,18.67,25.36,0.82,38.33,5.67,42.25,0.00,12.81,A,B
...,...,...,...,...,...,...,...,...,...,...
MAGIC.650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,A
MAGIC.663,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,B
MAGIC.665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,B
MAGIC.667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,A
MAGIC.678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,A